<!DOCTYPE html>
@using Blogee.Models
@model UserModel

<html>
<!-- the style must be placed in a header file, or can be put in a separate file if accessed again -->
<body>

    <!-- add the cshtml path to the new page to which we are redirected to, and the controller associated should deal with the data
        here indeed we are redirected to the correct view -->

    @using (Html.BeginForm("Index", "Dashboard", FormMethod.Post))
    {
        <span>Username: </span> @Html.TextBoxFor(m => m.Username)<br />
        <span>Password: </span>@Html.TextBoxFor(m => m.Password)<br />
        <input id="Submit" type="submit" value="submit" />
    }

</body>
</html>
